<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher Registration System</title>
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
    <footer>
        TT's Teacher Registration System
    </footer>
</body>
</html>